### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=generate_me_for_prod

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000

# OpenAI API related
OPENAI_API_KEY=
# (Optional)
# The temperature controls how much randomness is in the output (between 0 and 1).
# (https://platform.openai.com/docs/api-reference/completions/create#completions/create-temperature)
AI_TEMP=0.7
# (Optional)
# The size of the response
# (https://platform.openai.com/docs/api-reference/completions/create#completions/create-max_tokens)
AI_MAX_TOKENS=200
# (Optional)
# If you belong to multiple OpenAI API organizations, you can specify an organization ID here
# (https://platform.openai.com/docs/api-reference/requesting-organization)
OPENAI_API_ORG=